/* ======================================= Estilos del menu principal =======================================*/
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    overflow-y: auto;
    /*scroll vertical */

}

/* menu superior */
.header {
    background-color: #830c00;
    padding: 5px 0;
    /* Ajusta el padding arriba y abajo*/
    width: 100%;
    /* Asegura que el menú tenga 100% de ancho */
}

.header input[type="checkbox"] {
    position: absolute;
    /* Permite colocar el checkbox en la posición deseada */
    width: 45px;
    height: 45px;
    top: 20px;
    /* Alinea en la parte superior */
    right: 5px;
    /* Espacio desde la derecha */
    z-index: 2;
    /* Mayor valor para que esté delante */
    display: none;
    /* Cambia a block para mostrar el checkbox */
}

.header i {
    color: #ffffff;
    font-size: 45px;
    position: absolute;
    /* Permite colocar el ícono en la posición deseada */
    top: 20px;
    /* Alinea en la parte superior */
    right: 5px;
    /* Se coloca al borde derecho */
    z-index: 1;
    display: none;
    /* Cambia a block para mostrar el ícono */
}


.search::placeholder {
    color: rgba(88, 30, 30, 0.7);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 800;
}

.nav-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    /* overflow: hidden; */
    justify-content: center;
    width: 100%;
    /* Asegura que el contenedor del menú tenga 100% de ancho */
}

.logo img {
    width: 79px;
    height: auto;
    margin-right: -35px;
}

/* -------------------- opciones menu ---------------------- */

/* Elementos de la lista flotante a la derecha */
.nav-left {
    display: flex;
    margin-left: 20px;
    padding: 10px;
}

/* Estilo de la lista del menu navegar */
.nav-left li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

/* Texto del menu de navegar */
.nav-left li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 18px;
}


/* -------------------- barra de busqueda ---------------------- */

.search-container {
    position: relative;
    display: flex;
}

/* Estilos del cuadro de busqueda */
.search {
    border-radius: 15px;
    padding: 10px 20px;
    width: 360px;
    margin-left: 20px;
    /* Mover a la derecha del menu */
    border: none;
}

/* icono de busqueda */
.search-container i {
    margin: 10px 355px;
    position: absolute;
    font-size: 18px;
    /* Ajusta el tamaño del icono */
    color: #6c6c6c;
    /* Cambia el color del icono */
}

/* -------------------- ubicacion ---------------------- */
.places {
    padding: 10px 30px 10px 10px;
    margin-left: 90px;
    background-color: #830c00;
    color: #ffffff;
    /* Color del texto */
    border: none;
    /* Borde */
    font-size: 18px;
    /* Tamaño de fuente */
    font-weight: 700;
    /* Peso de la fuente */
    outline: none;
    /* quita el borde del foco */
    border-radius: 0px;
    /* redondea el borde del foco*/
    appearance: none;
    /* quita la flecha predeterminada */
    width: auto;
}

.places::after {
    content: "▼";
    /* personalizar la flecha para el dropdown */
    font-size: 12px;
    color: #ffffff;
    padding-left: 10px;
}


/* Para modificar el texto adentro del input de busqueda */
input::placeholder {
    color: #830c00;
    /* Color del texto */
    font-family: "Montserrat", sans-serif;
    /* Tipografía */
    font-size: 16px;
    /* Tamaño de fuente */
    font-weight: 800;
    /* Peso de la fuente */
}

/* -------------------- perfil ---------------------- */

/* perfil del usuario */
.profile {
    position: relative;
    display: inline-block;
    /* margin-left: auto; */
    margin-left: 40px;
    margin-right: 10px;
}


.profile-icon img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-left: 40px;
    /* Ajusta el margen a la izquierda para la foto de perfil */
}

/* Estilo lista desplegable */
.select-container {
    position: relative;
    display: inline-block;
}

/* Menú desplegable oculto inicialmente */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 67px;
    left: 3px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 1px;
    width: 130px;
    z-index: 1;
}

/* Estilos de los enlaces del menú */
.dropdown-menu a {
    display: block;
    padding: 10px;
    color: #f2f2f2;
    background-color: #830c00;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.dropdown-menu a:hover {
    background-color: #f2f2f2;
    color: #830c00;
}

/* Mostrar el menú al pasar el ratón o al hacer clic */
.profile:hover .dropdown-menu,
.profile:focus-within .dropdown-menu {
    display: block;
}

@media (max-width: 500px) {
    .header {
        /* background-color: #830c00; */
        padding: 35px 0;
        /* Ajusta el padding arriba y abajo*/
        width: 100%;
        /* Asegura que el menú tenga 100% de ancho */
    }

    .header i {
        display: block; 
        font-size: 24px;
        color: #ffffff;
        margin-left: 10px; 
        position: absolute; 
        left: 10px; 
        cursor: pointer;
    }

    .header::before { 
        content: "Cineplus";
        text-align: center;
        font-size: 24px;
        color: #ffffff;
        font-weight: bold;
        display: block;
    }

    .header i {
        display: flex;
    }

    .profile-icon, .places, .nav-container, .logo img, .search-container{
        display: none;
    }
}

/* ======================================= Estilos del login =======================================*/
.login-page {
    background-color: #830c00;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    flex-direction: column;
    /* columna para que el logo quede arriba del contenedor */
}

.login-page .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Asegura que ocupe todo el ancho */
    z-index: 1000;

}

.login-page .header .logo {
    content: url('../image/logo_cineplus.png');
    /* Actualiza la imagen */
    width: 100px;
    /* Ajusta el tamaño según sea necesario */
    height: auto;
    /* Mantiene la proporción del logo */
}


/* Estilos del contenedor de login */
.login-page .container {
    display: flex;
    background-color: #ffffff;
    width: 480px;
    /* Ajusta el ancho para coincidir con la imagen */
    padding: 30px 100px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Añade sombra */
    text-align: center;
    /* Centra el contenido */
    justify-content: center;
    /* Centra verticalmente */
    align-items: center;
    /* Centra horizontalmente */

}

/* Estilo del título */
.login-page .title {
    color: #AD6D01;
    font-weight: 700;
    font-size: 26px;
    margin: 30px 0;
    /* Márgenes iguales arriba y abajo */
    text-align: center;
}

/* Aplica content: none solo para la página de login */
.login-page .header::before {
    content: none;
}


/* Estilos para el label y el input */
.login-page label {
    display: block;
    color: #830C00;
    font-weight: 400;
    font-size: 18px;
    /* Ajusta el tamaño */
    margin-bottom: 5px;
    text-align: left;
    font-weight: 500;
}

.login-page input {
    background-color: #f3f3f3;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #656565;
    border-radius: 10px;
    font-size: 14px;
    color: #000000;
    font-weight: 100;
}

/* Cambiar el color del placeholder */
.login-page input::placeholder {
    color: #2e2e2e;
    /* Color gris */
    opacity: 1;
    /*no transparente */
    font-weight: 300;
}


/* Estilo del enlace de "Olvidaste tu contraseña" */
.login-page .forget-password {
    display: block;
    color: #003EDF;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: left;
}

/* Estilo del botón de login */
.login-page .btn-login {
    background-color: #AD6D01;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

/* Estilo del texto de registro */
.login-page .text-container {
    font-size: 14px;
    margin-top: 15px;
}

.remember-me {
    display: none;
    /* Oculta la casilla en pantallas grandes */
}

.login-page .text-container a {
    color: #003EDF;
    text-decoration: none;
    font-weight: bold;
}


@media (max-width: 500px) {

    
/* Estilos del contenedor de login */
.login-page .container {
    display: flex;
    background-color: #ffffff;
    width: 400px;
    /* Ajusta el ancho para coincidir con la imagen */
    padding: 30px 100px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Añade sombra */
    text-align: center;
    /* Centra el contenido */
    justify-content: center;
    /* Centra verticalmente */
    align-items: center;
    /* Centra horizontalmente */

}

    .login-page {
        background-color: #830C00;
        font-family: "Montserrat", sans-serif;
    }

    .login-page .header {
        margin-top: 60px;
        background-color: #830C00;
    }

    .login-page .container {
        background-color: #ffffff;
        box-shadow: none;
        color: #000000;
        /* Texto en negro */
        font-family: "Montserrat", sans-serif;
    }

    .forget-password {
        font-size: 12px;
        /* Tamaño ajustado */
    }

    .forget-password::after {
        font-family: "Montserrat", sans-serif;
        position: fixed;
        /* Lo posiciona de manera fija en la pantalla */
        bottom: 160px;
        /* Ajusta la distancia desde el fondo de la pantalla */
        right: 100px;
        /* Ajusta la distancia desde el borde derecho de la pantalla */
        font-size: 12px;
        /* Tamaño ajustado del texto */
    }


    .login-page .title {
        color: #830C00;
        font-weight: 600px;
        margin-top: -10px;
        align-items: center;
        font-family: "Montserrat", sans-serif;
    }

    .login-page label {
        font-size: 12px;
        /* Tamaño ajustado */
        color: #830C00;
        /* Color del texto del label */
    }

    .login-page input {
        background-color: #eaeaea;
        /* Fondo gris */
        color: #830C00;
        border-color: #000000;
        /* Borde negro */
        font-size: 12px;
        /* Tamaño ajustado */
    }

    .login-page input::placeholder {
        color: #830C00;
    }


    /* Estilo del enlace de "Olvidaste tu contraseña" */
    .login-page .forget-password {
        display: block;
        color: #003EDF;
        font-size: 12px;
        text-decoration: none;
        margin-bottom: 20px;
        text-align: left;
    }

    .login-page .btn-login {
        background-color: #AD6D01;
        color: white;
        border: 1px solid #000000;
    }

    .login-page .text-container a {
        font-size: 12px;
        /* Tamaño ajustado */
        color: #003EDF;
        display: block;
    }

    .login-page input::placeholder {
        font-size: 12px;
        /* Tamaño ajustado */
    }

    .login-page .text-container {
        font-size: 12px;
        /* Tamaño ajustado */
    }

    .login-page .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        /* Tamaño ajustado */
    }
}

/* ======================================= Hoja de estilo register =======================================*/
.login-page .btn-register {
    background-color: #f3f3f3;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    box-sizing: border-box;
    font-weight: 700;
}

.login-page .btn-register {
    background-color: #AD6D01;
    padding: 15px 10px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 600;
}

.login-page .title-register {
    color: #AD6D01;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin: 180px;
}

.login-page .email {
    font-size: 20px;
    color: #830c00;
    font-weight: 400;
}

/* ======================================= Hoja de estilo recuperar contraseña ======================================*/
.login-page img {
    width: 40%;
}

.login-page p {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* =====================vista nosotros========================= */
/* contenedor principal */
.container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
    max-width: 1200px;
}

/* titulo */
.container-about h1 {
    text-align: center;
    margin-bottom: 50px;
    color: #AD6D01;
}

/* contenido ambos parrafos */
.container-about .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    width: 100%;
}

/* imagen */
.container-about img {
    width: 500px;
    height: auto;
    flex-shrink: 0;
    /* imagen de tamaño fijo al hacer zoom */
}

/* parrafos del texto */
.container-about .about {
    font-size: 20px;
    text-align: left;
}