/* =====================vista puntos y recompensas========================= */
/* contenedor principal */
.container-rewards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* titulo */
h1 {
    display: flex;
    font-size: 35px;
    justify-content: center;
    margin-top: 35px;
    color: #AD6D01;
}

/* estilo puntaje */
h2 {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 20px;
    color: #830C00;
}

/* estilo de todo el carrusel */
.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 40px;
    overflow: visible;
    position: relative;
    width: 100%;
    max-width: 1200px;
}

/* contenedor de las tarjetas */
.tarjetas-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: nowrap;
}

/* tarjetas */
.elemento {
    flex: none;
    background-color: #E0CB9B;
    width: 340px;
    height: 420px;
    border-radius: 30px;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

/* tarjeta seleccionada */
.tarjetas-container div:hover{
    background-color: #E5BC60;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
}

/* Flechas del carrusel */
.flecha-izq, .flecha-der {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10; 
    margin-top: 50px;
}

.flecha-izq img, .flecha-der img {
    width: 40px; 
    height: auto;
    cursor: pointer;
}

.flecha-izq {
    left: 80px; 
}

/* Flecha derecha */
.flecha-der {
    right: 80px; 
}

/* imagen de las tarjetas */
.recompensa {
    margin: 35px;
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

/* texto de la tarjeta */
.elemento p {
    padding: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 25px;
    color: #830c00;
}

/* puntaje de las tarjetas */
.elemento a {
    margin: 85px;
    font-weight: 500;
    font-size: 20px;
    color: #830c00;
}

@media (max-width: 500px) {
    /* titulo */
    h1 {
        display: none;
    }

    /* estilo puntaje */
    h2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        color: #830C00;
        margin-top: 30px;
    }

    /* Contenedor general del carrusel */
    .carrusel-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    /* Contenedor principal del carrusel */
    .carrusel {
        display: flex;
        overflow: hidden; /* Asegura que solo se muestren las tarjetas dentro del carrusel */
        width: 100%;
        max-width: 340px; /* Tamaño del carrusel */
    }

    /* Tarjetas */
    .tarjetas-container {
        display: flex;
        gap: 0;
        transition: transform 0.3s ease;
    }

    .elemento{
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }

    /* Flechas */
    .flecha-izq, .flecha-der {
        position: absolute;
        top: 50%;
        cursor: pointer;
    }

    .flecha-izq {
        left: -40px; /* Ubicación en la izquierda */
    }

    .flecha-der {
        right: -40px; /* Ubicación en la derecha */
    }

    .flecha-izq img, .flecha-der img {
        width: 30px; /* Tamaño de las flechas */
        height: auto;
    }

}