/* =========================================Seleccion de horarios=========================================*/
/* Contenedor principal de la página */
.detalle-pelicula-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos del contenedor de los detalles de la película */
.detalle-pelicula {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
}

.pelicula-poster {
    width: 240px;
    margin-left: -20px;
    height: auto;
    border-radius: 10px;
    border: #a76b0b solid 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Agrega la sombra */
}

.pelicula-info h2 {
    margin: 15px 0 15px 0;
    font-size: 38px;
    color: #a76b0b;
    text-align: left;
}

.pelicula-info p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: justify;
}

.pelicula-info .classification,
.pelicula-info .genre,
.pelicula-info .duration {
    position: relative;
    display: inline-block;
    font-weight: normal;
}

.pelicula-info .classification,
.pelicula-info .genre,
.pelicula-info .duration {
    font-weight: bold;
}

.pelicula-info .classification::after,
.pelicula-info .genre::after,
.pelicula-info .duration::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    background-color: #830C00;
    /* Color rojo */
}

.pelicula-info p .color {
    color: #830C00;
    font-weight: bold;
}

.cine-texto .color {
    font-weight: normal;
    /* Asegura que el color no tenga negrita */
}


/* Contenedor principal de horarios */
.horarios {
    width: 1000px;
    max-width: 900px;
    font-family: Arial, sans-serif;
    border: 1px solid #444444;
    border-radius: 8px;
    overflow: hidden;
    font-weight: normal;
    margin: 30px auto 70px 0px;
    padding-bottom: 100px;
}

/* Encabezado de la sección con fondo de color */
.horarios-header {
    background-color: #E0CB9B;
    padding: 15px;
    text-align: left;
    color: #A01010;
}

.horarios-header h3 {
    margin: 0;
    font-size: 22px;
    color: #A01010;
    font-weight: 10;
}

.horarios-header p {
    margin: 10px 20px;
    font-size: 18px;
    color: #A01010;
    font-weight: bold;
}

.cine-linea {
    border-top: 1px solid #7171714c;
    margin: 10px 20px;
}

/* Tabla de fechas */
.horarios table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: 0;
    background-color: #fff;
    margin-bottom: 10px;
}

.cine-texto {
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.horarios .color {
    color: #830C00;
}

.horarios th {
    font-size: 13px;
    padding: 8px;
    font-weight: bold;
}

.fila-fechas td {
    border-top: 1px solid #830C00;
    border-bottom: 1px solid #830C00;
    padding: 10px 5px;
}

/* Estilo normal de los enlaces de fecha */
.fecha {
    color: #7F5656;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    display: inline-block;
    white-space: nowrap;
    font-size: 13px;
    transition: color 0.3s, background-color 0.3s;
}

/* Ocultar los radio buttons */
.fecha-input {
    display: none;
}

/* Estilo para la fecha seleccionada */
.fecha-input:checked+.fecha {
    border: 2px solid #830C00;
    background-color: #830C00;
    color: white;
}

/* Tipos de sesión */
.sesion-tipo {
    font-size: 16px;
    color: #830C00;
    margin: 15px 0 8px;
    text-align: left;
    padding-left: 20px;
}

/* Estilos de las sesiones de horarios */
.horarios ul {
    list-style: none;
    padding: 0 20px 20px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    background-color: #fff;
    justify-content: flex-start;
}

.horarios ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.horario {
    display: block;
    padding: 4px 7px;
    border-radius: 6px;
    background-color: #E0CB9B;
    color: #7F5656;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo para el horario seleccionado */
.horario-input:checked+.horario {
    background-color: #AD6D01;
    color: white;
    border: none;
}

/* Asegura que el input no interfiera */
.horario-input {
    display: none;
}

.pelicula-info .b-letter {
    position: relative;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: #575756;
    padding: 2px 6px;
    /* Añade más espacio alrededor de la letra */
}


.pelicula-info .b-letter::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #830C00;
    /* Color rojo */
}

@media (max-width: 500px){
    .detalle-pelicula-container {
        flex-direction: column;
        align-items: center;
    }

    .detalle-pelicula {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .pelicula-poster {
        width: 100%; 
        height: auto; 
        margin-left: 0; 
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .pelicula-info {
        text-align: center;
        padding: 10px;
    }

    .pelicula-info h2 {
        font-size: 24px; 
    }

    .pelicula-info p {
        font-size: 14px; 
    }

    .cine-texto {
        margin-top: 10px;
        padding-top: 10px;
    }

    .horarios {
        width: 100%;
        max-width: 100%;
    }

    .classification{
        margin-right: 280px;
    }
}
