/* ======================================= Estilos del menu principal =======================================*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    overflow-y: auto; /*scroll vertical */

}

/* menu superior */
.header {
    background-color: #830c00;
    padding: 5px 0; /* Ajusta el padding arriba y abajo*/
    width: 100%; /* Asegura que el menú tenga 100% de ancho */
}

.search::placeholder {
    color: rgba(88, 30, 30, 0.7);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 800;
}

.nav-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    /* overflow: hidden; */
    justify-content: center;
    width: 100%; /* Asegura que el contenedor del menú tenga 100% de ancho */
}

.logo img {
    width: 79px;
    height: auto;
    margin-right: -35px;
}

/* -------------------- opciones menu ---------------------- */

/* Elementos de la lista flotante a la derecha */
.nav-left {
    display: flex;
    margin-left: 20px;
    padding: 10px;
}

/* Estilo de la lista del menu navegar */
.nav-left li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

/* Texto del menu de navegar */
.nav-left li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 18px;
}


/* -------------------- barra de busqueda ---------------------- */

.search-container {
    position: relative;
    display: flex;
}

/* Estilos del cuadro de busqueda */
.search {
    border-radius: 15px;
    padding: 10px 20px;
    width: 360px;
    margin-left: 20px; /* Mover a la derecha del menu */
    border: none;
}

/* icono de busqueda */
.search-container i {
    margin: 10px 355px;
    position: absolute;
    font-size: 18px; /* Ajusta el tamaño del icono */
    color: #6c6c6c; /* Cambia el color del icono */
}

/* -------------------- ubicacion ---------------------- */
.places {
    padding: 10px 30px 10px 10px;
    margin-left: 90px;
    background-color: #830c00;
    color: #ffffff; /* Color del texto */
    border: none; /* Borde */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: 700; /* Peso de la fuente */
    outline: none;/* quita el borde del foco */
    border-radius: 0px;/* redondea el borde del foco*/
    appearance: none;/* quita la flecha predeterminada */
    width: auto;
}

.places::after {
    content: "▼"; /* personalizar la flecha para el dropdown */
    font-size: 12px;
    color: #ffffff;
    padding-left: 10px;
}


/* Para modificar el texto adentro del input de busqueda */
input::placeholder {
    color: #830c00; /* Color del texto */
    font-family: "Montserrat", sans-serif; /* Tipografía */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: 800; /* Peso de la fuente */
}

/* -------------------- perfil ---------------------- */

/* perfil del usuario */
.profile {
    position: relative;
    display: inline-block;
    /* margin-left: auto; */
    margin-left: 40px;
    margin-right: 10px;
}


.profile-icon img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-left: 40px; /* Ajusta el margen a la izquierda para la foto de perfil */
}

/* Estilo lista desplegable */
.select-container {
    position: relative;
    display: inline-block;
}

/* Menú desplegable oculto inicialmente */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 67px;
    left: 3px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 1px;
    width: 130px;
    z-index: 1;
}

/* Estilos de los enlaces del menú */
.dropdown-menu a {
    display: block;
    padding: 10px;
    color: #f2f2f2;
    background-color: #830c00;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.dropdown-menu a:hover {
    background-color: #f2f2f2;
    color: #830c00;
}

/* Mostrar el menú al pasar el ratón o al hacer clic */
.profile:hover .dropdown-menu,
.profile:focus-within .dropdown-menu {
    display: block;
}

/* ======================================= Estilos del login =======================================*/
.login-page {
    background-color: #830c00;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    flex-direction: column; /* columna para que el logo quede arriba del contenedor */
}

.login-page .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegura que ocupe todo el ancho */
    z-index: 1000;
    
}

.login-page .header .logo {
    content: url('../image/logo_cineplus.png'); /* Actualiza la imagen */
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción del logo */
}


/* Estilos del contenedor de login */
.login-page .container {
    display: flex;
    background-color: #ffffff;
    width: 480px; /* Ajusta el ancho para coincidir con la imagen */
    padding: 30px 100px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra */
    text-align: center; /* Centra el contenido */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */

}

/* Estilo del título */
.login-page .title {
    color: #AD6D01;
    font-weight: 700;
    font-size: 26px;
    margin: 30px 0; /* Márgenes iguales arriba y abajo */
    text-align: center;
}
/* Estilos para el label y el input */
.login-page label {
    display: block;
    color: #830C00;
    font-weight: 400;
    font-size: 18px; /* Ajusta el tamaño */
    margin-bottom: 5px;
    text-align: left;
    font-weight: 500;
}

.login-page input {
    background-color: #f3f3f3;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #656565;
    border-radius: 10px;
    font-size: 14px;
    color: #000000;
    font-weight: 100;
}

/* Cambiar el color del placeholder */
.login-page input::placeholder {
    color: #2e2e2e; /* Color gris */
    opacity: 1; /*no transparente */
    font-weight: 300;
}


/* Estilo del enlace de "Olvidaste tu contraseña" */
.login-page .forget-password {
    display: block;
    color: #003EDF;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: left;
}

/* Estilo del botón de login */
.login-page .btn-login {
    background-color: #AD6D01;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

/* Estilo del texto de registro */
.login-page .text-container {
    font-size: 14px;
    margin-top: 15px;
}

.remember-me {
    display: none; /* Oculta la casilla en pantallas grandes */
}

.login-page .text-container a {
    color: #003EDF;
    text-decoration: none;
    font-weight: bold;
}


@media (max-width: 500px) {
    .login-page {
        background-color: #ffffff;
        font-family: "Montserrat", sans-serif;
    }

    .login-page .header {
        margin-top: 60px;
        background-color: white;
    }

    .login-page .container {
        background-color: #ffffff;
        box-shadow: none;
        color: #000000; /* Texto en negro */
        font-family: "Montserrat", sans-serif;
    }

    .forget-password {
        visibility: hidden; /* Oculta el texto original pero mantiene el espacio ocupado */
        position: relative; /* Necesario para colocar el pseudo-elemento */
        display: flex;
        align-items: center;
        font-size: 12px; /* Tamaño ajustado */
    }

    .forget-password::after {
        content: "Recuperar contraseña"; /* Nuevo texto */
        font-family: "Montserrat", sans-serif;
        color: #830C00; /* Color del nuevo texto */
        visibility: visible; /* Asegura que el texto generado sea visible */
        position: fixed; /* Lo posiciona de manera fija en la pantalla */
        bottom: 160px; /* Ajusta la distancia desde el fondo de la pantalla */
        right: 100px; /* Ajusta la distancia desde el borde derecho de la pantalla */
        font-size: 12px; /* Tamaño ajustado del texto */
    }
    
    
    .login-page .title {
        color: #830C00;
        font-weight: 600px;
        margin-top: -10px;
        align-items: center;
        font-family: "Montserrat", sans-serif;
    }

    .login-page label {
        font-size: 12px; /* Tamaño ajustado */
        color: #830C00; /* Color del texto del label */
    }

    .login-page input {
        background-color: #eaeaea; /* Fondo gris */
        color: #830C00;
        border-color: #000000; /* Borde negro */
        font-size: 12px; /* Tamaño ajustado */
    }

    .login-page input::placeholder {
        color: #830C00;
    }

    /* Contenedor para la casilla "Recordarme" y el enlace "Recuperar contraseña" */
    .login-page .remember-me-container {
        display: flex; /* Asegura que ambos elementos estén en una fila */
        align-items: center; /* Alinea verticalmente */
        justify-content: flex-start; /* Alinea a la izquierda */
        font-size: 12px; /* Tamaño ajustado */
    }
    
    .login-page .remember-me {
        display: flex; /* Alinea la casilla con el texto */
        align-items: center;
        margin-right: 10px; /* Espacio entre la casilla y el enlace */
    }

    .login-page .remember-me input {
        margin-right: 2px; /* Espacio entre la casilla y el texto */
        transform: scale(0.8); /* Reduce el tamaño de la casilla */
    }

    /* Asegura que el enlace "Recuperar contraseña" esté en la misma línea */
    .login-page .forget-password {
        display: inline-flex; /* Asegura que el enlace esté en la misma fila */
        color: #830C00;
        font-size: 12px; /* Tamaño ajustado */
        text-decoration: none;
    }

    .login-page .forget-password {
        color: #830C00;
        font-size: 12px; /* Tamaño ajustado */
    }

    .login-page .btn-login {
        background-color: #AD6D01;
        color: white;
        border: 1px solid #000000;
    }

    .login-page .text-container a {
        font-size: 12px; /* Tamaño ajustado */
        color: #830C00;
        display: block;
    }

    .login-page input::placeholder {
        font-size: 12px; /* Tamaño ajustado */
    }

    .login-page .text-container {
        font-size: 12px; /* Tamaño ajustado */
    }

    .login-page .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px; /* Tamaño ajustado */
    }
}

/* ======================================= Hoja de estilo register =======================================*/
.login-page .btn-register {
    background-color: #f3f3f3;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    box-sizing: border-box;
    font-weight: 700;
}

.login-page .btn-register {
    background-color: #AD6D01;
    padding: 15px 10px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 600;
}

.login-page .title-register {
    color: #AD6D01;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin: 180px;
}

.login-page .email {
    font-size: 20px;
    color: #830c00;
    font-weight: 400;
}
/* ======================================= Hoja de estilo recuperar contraseña ======================================*/
.login-page img{
    width: 40%;
}

.login-page p{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ======================================= Hoja de estilo cartelera ======================================*/
.container-cartelera h1 {
    display: flex;
    font-weight: 800; /* Aumenta el grosor de la fuente */
    color: #AD6D01;
    align-items: center;
    justify-content: center;
}

.cartelera {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Mantiene 6 columnas flexibles */
    gap: 3vw; /* Espacio entre filas y columnas adaptado a la pantalla */
    padding: 6vh 5vw;
    margin: 0 5vw;

    align-items: start;
    
}

.pelicula {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribuye los elementos de la tarjeta */
    height: 40vh; /* Altura fija de las tarjetas de las películas */
    width: 100%; /* Mantener el ancho del contenedor */
    position: relative; /* Necesario para el posicionamiento del overlay */
    overflow: hidden; /* Ocultar cualquier desbordamiento */
}

.pelicula .img-container {
    width: 100%;
    height: 85%; /* Altura relativa al contenedor */
    border-radius: 1vw;
    overflow: hidden; /* Asegura que el borde redondeado se mantenga */
}

.pelicula img {
    width: 100%;
    height: 100%; /* La imagen ocupará todo el contenedor */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
    border: 0.1vw solid #AD6D01;
    border-radius: 1vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra predeterminada */
}

figcaption {
    margin-top: 0.5vh;
    font-weight: bold;
    color: #830C00;
    text-align: center;
    font-size: 1vw; /* Tamaño adaptable */
    min-height: 2rem; /* Asegura que los textos tengan un espacio mínimo fijo */
}

/* Efecto de escala al pasar el cursor sobre la imagen */
.pelicula:hover img {
    transform: scale(1.05); /* Escala la imagen al 105% */
}


/* Overlay oscuro en la imagen */
.pelicula img:hover {
    filter: brightness(50%); /* Reduce el brillo para oscurecer la imagen */
}

/* Texto "Ver más" */
.pelicula .ver-mas {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar */
    color: white; /* Color del texto */
    font-size: 1vw; /* Tamaño adaptable */
    font-weight: bold; /* Negrita */
    opacity: 0; /* Ocultarlo */
    transition: opacity 0.3s ease; /* Transición suave */
    z-index: 2; /* sobre la imagen el texto*/
}

.pelicula img:hover + .ver-mas {
    opacity: 1; /* Muestra el texto al pasar el mouse */
}

figcaption {
    margin-top: 0.5vh;
    font-weight: bold;
    color: #830C00;
    text-align: center;
    font-size: 1vw; /* Tamaño adaptable */
}

/* ======================================= Estilos de la sección de pago ======================================= */

.payment-section {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    margin: 60px auto;
    max-width: 800px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.payment-section h2 {
    color: #AD6D01;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}


.payment-section input::placeholder {
    color: #2e2e2e; /* Color gris */
    opacity: 1; /*no transparente */
    font-weight: 500;
}

.payment-info {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.payment-info .input-field {
    width: calc(50% - 10px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.payment-method {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.payment-option {
    flex: 1 1 calc(50% - 10px);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.payment-option:hover {
    background-color: #e6e6e6;
}

.action-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.confirm-btn, .cancel-btn {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.confirm-btn {
    background-color: #AD6D01;
    color: #ffffff;
}

.confirm-btn:hover {
    background-color: rgb(123, 97, 47);
}

.cancel-btn {
    background-color: #E0190B;
    color: #ffffff;
}

.cancel-btn:hover {
    background-color: #9b2727;
}


/* ======================================= Estilos de la landing page ======================================= */
.carousel-container {
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-radius: 20px; /* Mantén el redondeo si lo necesitas */
    background: #20232a; /* Fondo oscuro (opcional, en caso de errores de carga) */
    width: 1000px; /* Ancho completo del contenedor */
    height: 400px; /* Altura fija del carrusel */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra opcional */
}

.carousel {
  transition: transform 0.5s ease-in-out; /* Animación suave para scroll */
  width: 100%;
  height: 100%;
}

.carousel-item {
  flex: 0 0 100%; /* Cada imagen ocupa el 100% del contenedor */
  height: 100%; /* Altura completa */
}

.carousel-item img {
    width: 100%;
    height: 100%; /* La imagen ocupará todo el contenedor */
    border: 0.1vw solid #AD6D01;
    border-radius: 1vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra predeterminada */
}

.carousel-slide img {
    width:1150px!important;
    height: 1000px !important;
    object-fit: cover;
}

.destacadas {
    padding: 20px;
    text-align: center;
}

.destacadas h1 {
    color: #900;
    margin-bottom: 15px;
}

.movies-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 800px;
    flex-wrap: wrap;
}

.pelicula {
    width: 120px;
    text-align: center;
}

.pelicula img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 5px;
}

.pelicula p {
    font-size: 14px;
    color: #333;
}

/* =====================vista nosotros========================= */
h1{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    color: #AD6D01;
}

img{
    display: flex;
    float: right;
    width: 35em;
    height: 25em;
    margin: 5%;
}

.about{
    margin: 5%;
    font-size: 20px;
}

/* =====================vista puntos y recompensas========================= */
h1{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    color: #AD6D01;
}

h2{
    float: right;
    margin-right:5em;
    color: #830c00;
}

.carrusel{
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    margin-top: 5%;
    gap: 4%; /* Espaciado uniforme entre elementos */
    overflow: hidden;
}

.elemento{
    flex: auto;
    background-color: #E0CB9B;
    width: 10em;
    height: 25em;
    border-radius: 30px;
    position: relative;
}

.elemento-seleccion{
    background-color: #E5BC60; 
}

.carrusel .flechas{
    margin: 2em; /* Márgenes horizontales más pequeños */
}

.flechas img{
    justify-content: center;
    width: 40px;
    height: auto;
}

.recompensa{
    margin: 3.2em;
    width: 15em; 
    height: auto; 
    margin-bottom: 10%; /* Espacio entre la imagen y el texto */
}

.elemento p{
    margin: 12%;
    font-weight: 700;
    font-size: 25px;
    color: #830c00;
}

.elemento a{
    margin: 30%;
    font-weight: 500;
    font-size: 20px;
    color: #830c00;
}

