.carousel-container {
    margin: 0 auto;
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    width: 1200px;
    /* Ancho del carrusel */
    height: 600px;
    /* Altura del carrusel */
    background: #20232a;
    /* Fondo oscuro */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    /* Asegura que ocupe todo el alto del contenedor */
}

.carousel-slide {
    min-width: 100%;
    height: 100%;
    /* Cada slide ocupa todo el alto del contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Oculta las partes fuera del contenedor */
}

.carousel-slide img {
    width: 100%;
    /* Asegura que la imagen ocupe todo el ancho */
    height: 100%;
    /* Asegura que la imagen ocupe todo el alto */
    object-fit: cover;
    /* Ajusta la imagen al contenedor sin deformarla */
    object-position: center center;
    /* Centra la imagen dentro del contenedor */
    border-radius: 10px;
    /* Opcional: Redondeo de las esquinas */
}

/* Flechas de navegación */
.flecha {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    /* Centrado vertical */
    transform: translateY(-50%);
    z-index: 2;
    /* Asegura que estén sobre las imágenes */
}

.flecha img {
    width: 35px;
    /* Ajustar el tamaño de las flechas */
    height: auto;
}

.flecha-izquierda {
    left: 90px;
    /* Más pegado al contenedor */
}

.flecha-derecha {
    right: 90px;
    /* Más pegado al contenedor */
}

.destacadas {
    padding: 40px;
    text-align: center;
}

.titulo-destacadas {
    position: absolute;
    color: #900;
    text-align: left;
    margin-bottom: 35px;
    margin-left: 145px;
}

.titulo-destacadas h1 {
    color: #900;
}


.container-cartelera h1 {
    display: flex;
    font-weight: 800;
    /* Aumenta el grosor de la fuente */
    color: #AD6D01;
    align-items: center;
    justify-content: center;
}

.cartelera {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* Mantiene 6 columnas flexibles */
    gap: 3vw;
    /* Espacio entre filas y columnas adaptado a la pantalla */
    padding: 6vh 5vw;
    margin: 0 5vw;

    align-items: start;

}

.pelicula {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* Distribuye los elementos de la tarjeta */
    height: 40vh;
    /* Altura fija de las tarjetas de las películas */
    width: 100%;
    /* Mantener el ancho del contenedor */
    position: relative;
    /* Necesario para el posicionamiento del overlay */
    overflow: hidden;
    /* Ocultar cualquier desbordamiento */
}

.pelicula .img-container {
    width: 100%;
    height: 85%;
    /* Altura relativa al contenedor */
    border-radius: 1vw;
    overflow: hidden;
    /* Asegura que el borde redondeado se mantenga */
}

.pelicula img {
    width: 100%;
    height: 100%;
    /* La imagen ocupará todo el contenedor */
    object-fit: cover;
    /* Asegura que la imagen cubra el contenedor sin distorsionarse */
    border: 0.1vw solid #AD6D01;
    border-radius: 1vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    /* Sombra predeterminada */
}

figcaption {
    margin-top: 0.5vh;
    font-weight: bold;
    color: #830C00;
    text-align: center;
    font-size: 1vw;
    /* Tamaño adaptable */
    min-height: 2rem;
    /* Asegura que los textos tengan un espacio mínimo fijo */
}

/* Efecto de escala al pasar el cursor sobre la imagen */
.pelicula:hover img {
    transform: scale(1.05);
    /* Escala la imagen al 105% */
}


/* Overlay oscuro en la imagen */
.pelicula img:hover {
    filter: brightness(50%);
    /* Reduce el brillo para oscurecer la imagen */
}